@import url('https://fonts.googleapis.com/css2?family=Agdasima&display=swap');

body{
  background-color: #444;
}

#wrap{
  width: 380px; /*  */
  margin: 0 auto;
  background-color: #fff;
}
a{
  text-decoration: none;
  color: #222;
}
h1{
  text-align: center;
  font-family: 'Agdasima', sans-serif;
  font-size: 20px;
  margin-bottom: 25px;
}
.hide{
  /* overflow: hidden; */
  width: 0; height: 0; font-size: 0; line-height: 0;
  position: absolute;
  visibility: hidden;
}