#content{
    width: 100%;    /* 380px */
    /* margin: ; */
    /* background-color: #000; */
}
#content>.show{
    width: 100%;    /* 380px */
}
#content>.show>.all{
    width: 2280px;    /* 380* 6 */
    display: flex;
}
#content>.show>.all>li{
    width: 380px;
    position: relative;
}
#content>.show>.all>li img{
    width: 100%;
}
#content>.show>.all>li figcaption{
    position: absolute;
    left: 20px;
    bottom: 30px;
}
#content>.show>.all>li figcaption>p{
    color: #fff;
    font-size: 35px;
    line-height: 50px;
}
.swiper {
    width: 100%;
    height: 100%;
  }
.swiper img{
    width: 100%;
}
  
.swiper-slide {
/* text-align: center; */
font-size: 18px;
background: #fff;
/* Center slide text vertically */
display: flex;
justify-content: center;
align-items: center;
position: relative;
}
.swiper-slide p{
    position: absolute;
    /* z-index: 1000; */
    left: 25px;
    bottom: 25px;
    font-size: 30px;
    line-height: 40px;
    color: #fff;
}