header{
    width: 100%;
}
#header{
    width: 342px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    padding: 15px 0;
}
#header>p{
    font-size: 20px;
}
#header>a{
    display: inline-block;
    width: 40px;
}
#header>a>img{
    width: 100%;
}