#wishList{
    width: 100%;    /* 380px */
    padding-top: 20px;
}
#wishList>ul{
    display: flex;
    flex-wrap: wrap;
}
#wishList>ul>li{
    width: 190px;
    margin-bottom: 30px;
}
#wishList>ul>li>div{
    width: 130px;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#wishList>ul>li>div>figure{
    position: relative;
}
#wishList>ul>li>div img{
    width: 100%;
    margin-bottom: 10px;
}
#wishList>ul>li>div>figure>figcaption{
    padding-left: 3px;
    padding-right: 3px;
}
#wishList dl>dt{
    font-size: 10px;
    line-height: 14px;
    margin-bottom: 5px;
}
#wishList dl>dd{
    font-size: 15px;
    font-weight: bold;
}
.pBtn{
    width: 130px;
    height: 130px;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
#emptyBtn{
    padding-top: 20px;
    padding-bottom: 20px;
    width: 300px;
    margin: 0 auto;
    border: 1px solid rgba(1, 1, 1, 0.2);
    text-align: center;
    margin-bottom: 20px;
    opacity: 0;
}
#emptyBtn{
    opacity: 100;
}
#emptyBtn>button{
    margin-bottom: 20px;
}